#experience {

  font-size: 16px;

  $logo-size: 80px;
  $logo-size-mobile: 50px;

  .experience-item {
    position: relative;

    @media (min-width: $breakpoint) {
      margin-left: $logo-size + $grid-gap;
      margin-top: $grid-gap;
    }

    &:not(:first-child) {
      margin-top: $grid-gap * 2;
    }
  }

  .company {
    padding-top: 5px;
    font-size: 24px;
    font-weight: 700;
  }

  .title {
    font-size: 20px;
    font-weight: 300;
    max-width: $grid-column;
  }

  .location {
    font-size: 14px;
    font-weight: 300;
    margin-left: -5px;
    margin-top: 10px;
    text-transform: uppercase;

    @media (min-width: $breakpoint) {
      position: absolute;
      right: 0;
      top: 35px;
    }
  }

  .from,
  .until {
    font-size: 14px;
    font-weight: 600;
    color: $muted;
    text-transform: uppercase;
    position: absolute;
  }

  .until {
    top: -$grid-gap/2;
    left: $grid-gap * 4.5;

    &:before {
      content: "";
      width: 10px;
      height: 10px;
      background-color: $muted;
      display: inline-block;
      position: absolute;
      left: -25px;
      top: 4px;
      border-radius: 50px;

    }

    &:after {
      content: "";
      width: $grid-gap * 2;
      height: 2px;
      background-color: $muted;
      display: inline-block;
      position: absolute;
      left: -100px;
      top: 8px;
    }
  }

  .from {
    top: -$grid-gap/2;

    &:after {
      content: "";
      width: 10px;
      height: 10px;
      background-color: $muted;
      display: inline-block;
      position: absolute;
      left: 75px;
      top: 4px;
      border-radius: 50px;
    }
  }

  .tldr {
    margin: $grid-gap 0;
    padding: $grid-gap/1.5 $grid-gap/2;
    background-color: lighten(black, 97%);
    border-bottom: 5px solid var(--accent);
    border-radius: 3px;

    &:before {
      content: "TL;DR";
      font-weight: 700;
      display: block;
      margin-bottom: $grid-gap/2;
    }
  }

  .description {
    font-weight: 300;

    ul li {
      margin-bottom: 10px;

      &:before {
        content: '-';
        position: absolute;
        left: -20px;
      }
    }
  }

  .company-logo {
    float: right;
    margin-top: 5px;
    img {
      width: $logo-size-mobile;
    }

    @media (min-width: $breakpoint) {
      position: absolute;
      left: - $logo-size - $grid-gap;
      top: 0;

      img {
        width: $logo-size;
      }
    }
  }
}
