#experience {

  font-size: 16px;
  font-family: 'Open Source Sans', sans-serif;

  $logo-size: 60px;

  ul {
    list-style: none;
  }

  .experience-item {
    position: relative;
    margin-left: $logo-size + $grid-gap;
    margin-top: $grid-gap;

    &:not(:first-child) {
      margin-top: $grid-gap * 2;
    }
  }

  .company {
    padding-top: 5px;
    font-size: 24px;
    font-weight: 700;
  }

  .title {
    font-size: 20px;
    font-weight: 300;
  }

  .location {
    position: absolute;
    right: 0;
    top: 45px;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 13px;
  }

  .from,
  .until {
    font-size: 12px;
    font-weight: 600;
    color: $muted;
    text-transform: uppercase;
    position: absolute;
  }

  .until {
    top: $grid-gap * 3;
    left: -$logo-size - $grid-gap;

    &:before {
      content: "";
      width: 10px;
      height: 10px;
      background-color: $muted;
      display: inline-block;
      position: absolute;
      left: 0;
      bottom: $grid-gap / 1.5;
      border-radius: 50px;
    }

    &:after {
      content: "";
      width: 2px;
      height: $grid-gap * 5;
      background-color: $muted;
      display: inline-block;
      position: absolute;
      left: 4px;
      top: $grid-gap / 1.5;
    }
  }

  .from {
    top: $grid-gap * 9;
    left: -$logo-size - $grid-gap;

    &:after {
      content: "";
      width: 10px;
      height: 10px;
      background-color: $muted;
      display: inline-block;
      position: absolute;
      left: 0;
      top: $grid-gap / 1.5;
      border-radius: 50px;
    }
  }

  .tldr {
    margin: $grid-gap 0;
    padding: $grid-gap/1.5 $grid-gap/2;
    background-color: lighten(black, 97%);
    border-bottom: 5px solid var(--accent);
    border-radius: 3px;

    &:before {
      content: "TL;DR";
      font-weight: 700;
      display: block;
      margin-bottom: $grid-gap/2;
    }
  }

  .description {
    a {
      color: inherit;
      text-decoration: none;
      border-bottom: 1px solid;
    }

    ul li {
      margin-bottom: 10px;

      &:before {
        content: '-';
        position: absolute;
        left: -20px;
      }
    }
  }

  .company-logo {
    position: absolute;
    left: - $logo-size - $grid-gap;
    top: 0;

    img {
      width: $logo-size;
    }
  }
}
