#footer {

  background: var(--accent);
  color: white;
  font-weight: bold;
  padding: 15px;

  .selector {
    display: inline-block;
    margin-right: $grid-gap;
  }

  .footer-wrapper {
    max-width: $grid-column * 3 + $grid-gap * 2;
    margin: 0 auto;

  }

  select {
    display: block;
    font-size: 14px;
    width: 80px;
  }

  label {
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    width: 40px;
  }

  .footer-print-button {
    background-color: transparent;
    border-radius: 3px;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    float: right;
    font-weight: 700;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    padding: 12px 20px;
    text-transform: uppercase;
    transition: all $transition;

    &:hover {
      background-color: white;
      box-shadow:
        0 0 0 3px var(--accent),
        0 0 0 5px white;
      color: var(--accent);
    }
  }
}
