#footer {

  background: var(--accent);
  color: white;
  font-weight: bold;
  font-size: 16px;
  // position: fixed;
  padding: $grid-gap / 2;
  // bottom: 0;

  select {
    width: 80px;
    margin-left: 10px;
  }

  label {
    display: inline-block;
    width: 50px;
  }
}
