#footer {

  background: var(--accent);
  color: white;
  font-weight: bold;
  font-size: 16px;
  // position: fixed;
  padding: $grid-gap / 2;
  // bottom: 0;
  // filter: opacity(90%);
  // max-width: $grid-column * 3 + $grid-gap * 2;
  // margin: 0 auto;

  .selector {
    display: inline-block;
    margin-right: $grid-gap;
  }

  select {
    display: block;
    font-size: 14px;
    margin-top: 5px;
    width: 80px;
  }

  label {
    display: inline-block;
    width: 40px;
  }

  button {
    background-color: white;
    border-radius: 3px;
    border: none;
    font-size: 14px;
    padding: 15px 20px;
    position: absolute;
    right: $grid-gap / 2;
    bottom: $grid-gap / 2;
  }
}
