
  nav {
    text-align : right;
    grid-area  : 2 / 2 / auto / 3;
    font-family: "Roboto Slab", sans-serif;
    font-size: 18px;

    ul {
      position   : sticky;
      top        : $grid-column + $grid-gap;
      margin: 0;
    }

    li {
      cursor: pointer;
      letter-spacing: .5px;

      &.active,
      &:hover {
        a {
          color: var(--accent);
        }
      }
    }

    li + li {
      margin-top : $grid-gap / 2;
    }

    a {
      color: $muted;
      text-decoration: none;
      transition: color $transition;
    }

  }
