
@import 'default/fonts';

.default {

  // variables
  $grid-gap    : 40px;
  $grid-column : 240px;
  $muted       : #ccc;
  $transition  : .5s;
  --accent     : red;
  $breakpoint  : 3 * $grid-column + 4 * $grid-gap;
  --breakpoint : #{$breakpoint};
  --mobileOffset : 75;

  // Styles applicable to the whole content
  font-family           : 'Source Sans Pro', sans-serif;
  cursor                : default;
  line-height           : 1.42;

  @media (min-width: $breakpoint) {
    padding-left          : 0;
    padding-right         : 0;
    max-width             : none;
    display               : grid;
    grid-gap              : $grid-gap;
    grid-template-rows    : $grid-column;
    grid-template-columns : auto repeat(3, $grid-column) auto;
  }

  @import 'default/generic';
  @import 'default/footer';
  @import 'default/navigation';
  @import 'default/main';
  @import 'default/tools';
  @import 'default/modals';
  @import 'default/experience';
  @import 'default/education';
  @import 'default/contact';
  @import 'default/about';

}
