
@import 'default/fonts';

.default {

  // variables
  $grid-gap    : 40px;
  $grid-column : 240px;
  $muted       : #ccc;
  $transition  : .5s;
  --accent     : red;

  // Styles applicable to the whole content
  font-family           : 'Old Standard TT', sans-serif;
  font-size             : 22px;
  cursor                : default;
  line-height           : 1.42;
  display               : grid;
  grid-gap              : $grid-gap;
  grid-template-columns : auto repeat(3, $grid-column) auto;
  grid-template-rows    : $grid-column;

  @import 'default/generic';
  @import 'default/selectors';
  @import 'default/navigation';
  @import 'default/main';
  @import 'default/tools';
  @import 'default/modals';

}
