
@import 'pomegranate/fonts';

.pomegranate {

  // variables
  $grid-gap    : 40px;
  $grid-column : 240px;
  $muted       : #ccc;
  $off-black   : #555;
  $transition  : .5s;
  $breakpoint  : 2 * $grid-column + 3 * $grid-gap;
  --breakpoint : #{$breakpoint};
  --mobileOffset : 75;


  background-color      : var(--accent);
  background-image      : url('./styles/pomegranate/assets/otis-redding-50pc.png');
  font-family           : 'Pomegranate', sans-serif;
  font-size             : 18px;
  cursor                : default;
  line-height           : 1.42;

  display               : grid;
  grid-gap              : $grid-gap;
  grid-template-rows    : $grid-column;
  grid-template-columns : 0 auto 0;

  @media (min-width: $breakpoint) {
    padding-left          : 0;
    padding-right         : 0;
    max-width             : none;
    display               : grid;
    grid-gap              : $grid-gap;
    grid-template-rows    : $grid-column;
    grid-template-columns : auto repeat(2, $grid-column) auto;
  }

  @import 'pomegranate/generic';
  @import 'pomegranate/footer';
  @import 'pomegranate/navigation';
  @import 'pomegranate/main';
  @import 'pomegranate/tools';
  @import 'pomegranate/modals';
  @import 'pomegranate/experience';
  @import 'pomegranate/education';
  @import 'pomegranate/contact';
  @import 'pomegranate/about';

}
