@page {
  size: a4;
  margin: 0;
}

body, html {
  margin: 0;
  font-size: 11px;
  height:100%;
}

.svg-inline--fa {
  display: none;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 16px;
  border-top: 5px solid black;
  padding-top: 15px;
}

section {
  margin-bottom: 40px;
}

p {
  padding: 0;
  margin-bottom: 10px;
}

#experience,
#education,
#tools,
#who,
#outstanding,
#future {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  padding: 0 20px;
}

#tools > span {
  display: inline-block;
  margin: 0 15px 10px 0;
  text-transform: uppercase;
  font-size: 10px;
}

#experience {
  .company {
    font-weight: bold;
  }

  .title {
    border-bottom: 1px dotted black;
    padding-bottom: 5px;
    margin-bottom: 5px;

    &::first-letter {
      text-transform: capitalize;
    }
  }

  .experience-item {
    margin-bottom: 15px;
  }

  .until,
  .from {
    display: inline-block;
    margin-right: 10px;
    font-size: 10px;
    text-transform: uppercase;
  }

  .until:before {
    content: '\2013';
    left: -3px;
    position: relative;
  }

  .location {
    float: right;
    font-size: 10px;
    text-transform: uppercase;
  }

  .tldr {
    margin-top: 5px;
  }
}

#education {
  .institution {
    font-weight: bold;
  }

  .title {
    border-bottom: 1px dotted black;
    padding-bottom: 5px;
    margin-bottom: 5px;
  }

  .education-item {
    margin-bottom: 15px;
  }

  .until,
  .from {
    display: inline-block;
    margin-right: 10px;
    font-size: 10px;
    text-transform: uppercase;
  }

  .until:before {
    content: '\2013';
    left: -3px;
    position: relative;
  }

  .location {
    float: right;
    font-size: 10px;
    text-transform: uppercase;
  }

  .description {
    margin-top: 5px;
  }
}
