$print-black: #424242;

@page {
  size: a4;
  margin: 0;
}

body, html {
  margin: 0;
  font-size: 11px;
  height:100%;
  color: $print-black !important;
}

.svg-inline--fa {
  display: none;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 16px;
  border-top: 5px solid $print-black;
  padding-top: 15px;
  color: $print-black !important;
}

section {
  margin-bottom: 40px;
}

p {
  padding: 0;
  margin-bottom: 10px;
}

div.address-bar {
  margin: 20px;
  margin-top: -60px;
  padding: 8px 15px;
  background-color: #eee !important;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
}

#experience,
#education,
#tools,
#who,
#outstanding,
#future {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  padding: 0 20px;
}

#tools > span {
  display: inline-block;
  margin: 0 5px 2px 0;
  text-transform: uppercase;
  font-size: 10px;
}

#experience {
  .company {
    border-bottom: 1px dotted $print-black;
    font-weight: bold;
    padding-bottom: 5px;
    margin-bottom: 5px;
    width: 30%;
    display: inline-block;
  }

  .title {
    border-bottom: 1px dotted $print-black;
    padding-bottom: 5px;
    margin-bottom: 5px;
    width: 70%;
    display: inline-block;
    text-align: right;

    &::first-letter {
      text-transform: capitalize;
    }
  }

  .experience-item {
    margin-bottom: 15px;
  }

  .until,
  .from {
    display: inline-block;
    margin-right: 10px;
    font-size: 10px;
    text-transform: uppercase;
  }

  .until:before {
    content: '\2013';
    left: -3px;
    position: relative;
  }

  .location {
    float: right;
    font-size: 10px;
    text-transform: uppercase;
  }

  .tldr {
    margin-top: 5px;
  }
}

#education {
  .institution {
    font-weight: bold;
  }

  .title {
    border-bottom: 1px dotted $print-black;
    padding-bottom: 5px;
    margin-bottom: 5px;
  }

  .education-item {
    margin-bottom: 15px;
  }

  .until,
  .from {
    display: inline-block;
    margin-right: 10px;
    font-size: 10px;
    text-transform: uppercase;
  }

  .until:before {
    content: '\2013';
    left: -3px;
    position: relative;
  }

  .location {
    float: right;
    font-size: 10px;
    text-transform: uppercase;
  }

  .description {
    margin-top: 5px;
  }
}
