@import "default";
@import "pomegranate";
@import "no-style";
@media print {
  @import "~gutenberg-css/dist/gutenberg.min";
  @import "print";
}

.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

@media not print {
  .print-only {
    display: none;
  }
}
