#contact {

  button {
    padding: 15px 15px 11px 15px;
    border-radius: 4px;
    background-color: white;
    border: 1px solid white;
    color: var(--accent);
    cursor: pointer;
    font-family: 'Pomegranate', sans-serif;
    font-size: 16px;
    font-weight: 600;
    transition: all $transition/2;
    text-transform: uppercase;
    width: 100%;

    @media (min-width: $breakpoint) {
      width: 280px;
    }

    &:hover,
    &:active {
      background-color: transparent;
      color: white;
    }

  }

  ul li {
    margin-bottom: $grid-gap/2;
    font-weight: 300;
  }
}
