#education {

  font-size: 16px;

  $logo-size: 80px;
  $logo-size-mobile: 50px;

  a {
    border-color: var(--accent);
    border-width: 2px;

    &:hover {
      color: var(--accent);
    }
  }

  .education-item {
    position: relative;
    background-color: white;
    padding: 40px;
    margin-top: $grid-gap * 2;

    margin-left: -$grid-gap;
    margin-right: -$grid-gap;

    @media (min-width: $breakpoint) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .institution {
    margin-top: 40px;
    font-size: 24px;
    font-weight: 700;
  }

  .title {
    font-size: 20px;
    margin-top: $grid-gap/2;
  }

  .location {
    font-size: 14px;
    margin-left: -5px;
    margin-top: 10px;
    text-transform: uppercase;
  }

  .from,
  .until {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    position: absolute;
  }

  .until {
    top: 40px;
    left: $grid-gap * 3.5;

    &:before {
      content: "";
      width: 10px;
      height: 10px;
      background-color: black;
      display: inline-block;
      position: absolute;
      left: -20px;
      top: 4px;
      border-radius: 50px;

    }

    &:after {
      content: "";
      width: $grid-gap;
      height: 2px;
      background-color: black;
      display: inline-block;
      position: absolute;
      left: -50px;
      top: 8px;
    }
  }

  .from {
    top: 40px;

    &:after {
      content: "";
      width: 10px;
      height: 10px;
      background-color: black;
      display: inline-block;
      position: absolute;
      left: 40px;
      top: 4px;
      border-radius: 50px;
    }
  }

  .description {
    margin-top: $grid-gap;
    color: $off-black;
  }

  .institution-logo {
    float: right;

    img {
      width: $logo-size-mobile;

      @media (min-width: $breakpoint) {
        width: $logo-size;
      }
    }
  }
}
