#experience {

  font-size: 16px;

  $logo-size: 80px;
  $logo-size-mobile: 50px;

  a {
    border-color: var(--accent);
    border-width: 2px;

    &:hover {
      color: var(--accent);
    }
  }

  .experience-item {
    position: relative;
    background-color: white;
    padding: 40px;
    margin-top: $grid-gap * 2;

    margin-left: -$grid-gap;
    margin-right: -$grid-gap;

    @media (min-width: $breakpoint) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .company {
    margin-top: 40px;
    font-size: 24px;
    font-weight: 700;
  }

  .title {
    font-size: 20px;
    margin-top: $grid-gap/2;
    text-transform: capitalize;
  }

  .location {
    font-size: 14px;
    margin-left: -5px;
    margin-top: 10px;
    text-transform: uppercase;
  }

  .from,
  .until {
    font-size: 14px;
    font-weight: 600;
    color: $off-black;
    text-transform: uppercase;
    position: absolute;
  }

  .until {
    top: 40px;
    left: $grid-gap * 4.5;

    &:before {
      content: "";
      width: 10px;
      height: 10px;
      background-color: $off-black;
      display: inline-block;
      position: absolute;
      left: -18px;
      top: 2px;
      border-radius: 50px;

    }

    &:after {
      content: "";
      width: 60px;
      height: 2px;
      background-color: $off-black;
      display: inline-block;
      position: absolute;
      left: -70px;
      top: 6px;
    }
  }

  .from {
    top: 40px;

    &:after {
      content: "";
      width: 10px;
      height: 10px;
      background-color: $off-black;
      display: inline-block;
      position: absolute;
      left: 65px;
      top: 2px;
      border-radius: 50px;
    }
  }

  .tldr {
    margin: $grid-gap 0;
    padding: $grid-gap/1.5 $grid-gap/2;
    border: 4px dotted var(--accent);
    font-size: 18px;

    &:before {
      content: "TL;DR";
      font-weight: 700;
      display: block;
      margin-bottom: $grid-gap/2;
    }
  }

  .description {
    margin-top: $grid-gap;
    color: $off-black;

    ul li {
      margin-bottom: 10px;

      &:before {
        content: '-';
        position: absolute;
        left: 25px;
      }
    }
  }

  .company-logo {
    float: right;

    img {
      width: $logo-size-mobile;

      @media (min-width: $breakpoint) {
        width: $logo-size;
      }
    }
  }
}
