.headroom {
  grid-column: span 4;
}


#footer {

  box-shadow: 0 0 12px 0 rgba(black, .05);
  background: white;
  color: var(--accent);
  font-weight: bold;
  padding: 15px;

  #accent-selector {
    display: none;
  }

  .selector {
    display: inline-block;
    margin-right: 15px;
    position: relative;
  }

  .footer-wrapper {
    max-width: $grid-column * 2 + $grid-gap;
    margin: 0 auto;
  }

  select {
    display: block;
    font-size: 14px;
    width: 120px;
  }

  label {
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    width: 40px;
  }

  .footer-print-button {
    float: right;
  }
}

.color-picker-wrapper {
  display: none;
}
