main {

  height: 100%;
  grid-area : 2 / 2 / auto / 4;

  section h1 {
    font-size: 45px;
    font-weight: 600;
    margin: 0 0 $grid-gap;
    text-transform: capitalize;
  }

  section + section {
    margin-top : $grid-column / 2;
    margin-bottom: $grid-gap * 2;
  }

  .section-description {
    font-size: 20px;
  }
}
