main {

  height: 100%;
  grid-area: 2 / 2 / auto / 3;

  @media (min-width: $breakpoint) {
    grid-area : 2 / 2 / auto / 4;
  }

  section h1 {
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 $grid-gap;
    text-transform: capitalize;

    &::before {
      content: '';
      display: block;
      height: 18px;
      margin-bottom: 20px;
      background: repeating-linear-gradient(
        -45deg,
        transparent,
        transparent 8px,
        #333 8px,
        #333 10px
      );
    }
  }

  section + section {
    margin-top : $grid-column / 2;
    margin-bottom: $grid-gap * 2;
  }

  .section-description {
    font-size: 20px;
    color: #666;
  }
}
